body {
  color: #444444;
  font-weight: 400;
  background: #ffffff;
  font-family: "Barlow", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #202c45;
}

a {
  color: #202c45;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #e81c2e;
  outline: none;
  text-decoration: none;
}

.btn.btn-custom {
  padding: 10px 30px 12px 30px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  background: green;
  border: none;
  border-radius: 60px;
  box-shadow: inset 0 0 0 0 #202c45;
  transition: ease-out 0.5s;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
}

.btn.btn-custom:hover {
  color: #e81c2e;
  background: #202c45;
  box-shadow: inset 200px 0 0 0 #202c45;
}

.btn:focus,
.form-control:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-size: inherit;
  margin-left: 0;
}

/*******************************/
/********** About CSS **********/
/*******************************/
.about {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.about .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .about-img img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
}

.about .about-content {
  margin-bottom: 30px;
}

.about .about-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 25px;
}

.about .about-content ul li {
  margin-bottom: 5px;
}

.about .about-content ul li i {
  margin-right: 8px;
  color: #e81c2e;
}

/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
  position: relative;
  width: 100%;
  padding: 45px 0 0 0;
}

.service .service-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}

.service .service-item i {
  color: #202c45;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 20px;
}

.service .service-item [class^="flaticon-"]::before {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  background-image: linear-gradient(#e81c2e, #202c45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s;
}

.service .service-item h3 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
}

.service .service-item p {
  margin: 0;
}

/*******************************/
/********* Pricing CSS *********/
/*******************************/
.price {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.price .row {
  padding: 0 15px;
}

.price .col-md-4 {
  padding: 0;
}

.price .price-item {
  position: relative;
  margin-bottom: 30px;
  background: #ffffff;
  border-radius: 5px;
  text-align: center;
}

.price .featured-item {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.price .price-header {
  padding: 45px 0 30px 0;
}

.price .price-header h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.price .price-header h2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
}

.price .price-header h2 span {
  font-size: 25px;
  line-height: 55px;
}

.price .price-item.featured-item h2,
.price .price-item.featured-item h3 {
  color: #e81c2e;
}

.price .price-body {
  padding: 0 0 20px 0;
}

.price .price-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.price .price-body ul li {
  padding: 0 0 15px 0;
}

.price .price-body ul li i {
  margin-right: 10px;
}

.price .price-body ul li i.fa-check-circle {
  color: #39b972;
}

.price .price-body ul li i.fa-times-circle {
  color: #cccccc;
}

.price .price-item .price-footer {
  padding-bottom: 45px;
}

.price .price-item .price-footer .btn.btn-custom {
  color: #e81c2e;
  background: #202c45;
  box-shadow: inset 0 0 0 0 #e81c2e;
}

.price .price-item .price-footer .btn.btn-custom:hover {
  color: #ffffff;
  background: #e81c2e;
  box-shadow: inset 200px 0 0 0 #e81c2e;
}

.price .price-item.featured-item .price-footer .btn.btn-custom {
  color: #ffffff;
  background: #e81c2e;
  box-shadow: inset 0 0 0 0 #202c45;
}

.price .price-item.featured-item .price-footer .btn.btn-custom:hover {
  color: #e81c2e;
  background: #202c45;
  box-shadow: inset 200px 0 0 0 #202c45;
}

/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 45px auto;
}

.section-header p {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #7a6e6f;
}

.section-header p::after {
  position: absolute;
  content: "";
  width: 50%;
  height: 2px;
  left: 25%;
  bottom: 0;
  background: #e81c2e;
}

.section-header.text-left p::after {
  left: 0;
}

.section-header.text-right p::after {
  left: 50%;
}

.section-header h2 {
  margin: 0;
  font-size: 45px;
  font-weight: 700;
  text-transform: capitalize;
}

@media (max-width: 991.98px) {
  .section-header h2 {
    font-size: 45px;
  }
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 40px;
  }
}

@media (max-width: 575.98px) {
  .section-header h2 {
    font-size: 35px;
  }
}

/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.contact .contact-info {
  width: 100%;
  margin-bottom: 45px;
  padding: 35px 30px 10px 30px;
  border-radius: 5px;
  background: #202c45;
}

.contact .contact-info h2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact .contact-info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.contact .contact-info-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50px;
}

.contact .contact-info-icon i {
  margin: 0;
  color: #202c45;
  font-size: 16px;
}

.contact .contact-info-text {
  padding-left: 20px;
}

.contact .contact-info-text h3 {
  margin: 0 0 5px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact .contact-info-text p {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.contact .contact-form {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.contact .contact-form input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #202c45;
}

.contact .contact-form textarea {
  height: 125px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #202c45;
}

.contact .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact iframe {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

.const {
  background-image: url("https://www.frogchem.com/cdn/shop/articles/How_to_Wash_Car_Seats_to_Make_Them_Look_Brand_New.jpg?v=1712565509&width=1000");
  width: 1000px;
  height: 100%;
}

.const1 {
  background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/best-car-vacuums-cnnu-03.jpg?q=w_1110,c_fill");
  width: 1000px;
  height: 100%;
}

.const2 {
  background-image: url("https://media.istockphoto.com/id/1800033825/photo/hand-cleaning-the-car-interior-with-microfiber-cloth-towel.jpg?s=612x612&w=0&k=20&c=bz4YG60xCvOifo0jz1BbThdW0lA1hWS9I85o-Wdxj0A=");
  width: 1000px;
  height: 100%;
}

.const3 {
  background-image: url("https://metroautoglass.com.au/wp-content/uploads/car-window-cleaning.jpg");
  width: 1000px;
  height: 100%;
}

/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 90px 0;
  text-align: center;
  background: #202c45;
  border-top: 1px dotted #ffffff;
}

.page-header h2 {
  position: relative;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.page-header h2::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  left: calc(50% - 50px);
  bottom: 0;
  background: #ffffff;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 22px;
  color: #ffffff;
}

.page-header a:hover {
  color: #e81c2e;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -2px;
  right: -7px;
  text-align: center;
  color: #ffffff;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 991.98px) {
  .page-header {
    padding: 60px 0;
  }

  .page-header h2 {
    font-size: 45px;
  }

  .page-header a {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .page-header {
    padding: 45px 0;
  }

  .page-header h2 {
    font-size: 35px;
  }

  .page-header a {
    font-size: 18px;
  }
}
/*******************************/
/******** Location CSS *********/
/*******************************/
.location {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.location .location-item {
  display: flex;
  margin-bottom: 30px;
}

.location .location-item i {
  padding-top: 3px;
  font-size: 30px;
  color: #e81c2e;
}

.location .location-text {
  padding-left: 15px;
}

.location .location-text h3 {
  font-size: 18px;
  font-weight: 700;
}

.location .location-text p {
  margin-bottom: 5px;
}

.location .location-text p strong {
  margin-right: 5px;
  font-weight: 600;
}

.location .location-form {
  padding: 45px 30px;
  background: #e81c2e;
  border-radius: 5px;
}

.location .location-form h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 25px;
}

.location .location-form .control-group {
  margin-bottom: 15px;
}

.location .location-form .form-control {
  height: 45px;
  color: #ffffff;
  padding: 0 15px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  background: transparent;
}

.location .location-form textarea.form-control {
  height: 120px;
  padding: 15px;
}

.location .location-form .form-control::placeholder {
  color: #ffffff;
  opacity: 1;
}

.location .location-form .form-control:-ms-input-placeholder,
.location .location-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.location .location-form .btn.btn-custom {
  width: 100%;
  color: #e81c2e;
  background: #ffffff;
  box-shadow: inset 0 0 0 0 #202c45;
}

.location .location-form .btn.btn-custom:hover {
  color: #ffffff;
  background: #e81c2e;
  box-shadow: inset 400px 0 0 0 #202c45;
}

@media (min-width: 576px) and (max-width: 991.89px) {
  .location .location-form .btn.btn-custom:hover {
    box-shadow: inset 650px 0 0 0 #202c45;
  }
}

/*******************************/
/********* Contact CSS *********/
/*******************************/
.contact {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.contact .contact-info {
  width: 100%;
  margin-bottom: 45px;
  padding: 35px 30px 10px 30px;
  border-radius: 5px;
  background: #202c45;
}

.contact .contact-info h2 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 30px;
}

.contact .contact-info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}

.contact .contact-info-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 50px;
}

.contact .contact-info-icon i {
  margin: 0;
  color: #202c45;
  font-size: 16px;
}

.contact .contact-info-text {
  padding-left: 20px;
}

.contact .contact-info-text h3 {
  margin: 0 0 5px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact .contact-info-text p {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.contact .contact-form {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
}

.contact .contact-form input {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #202c45;
}

.contact .contact-form textarea {
  height: 125px;
  padding: 8px 15px;
  border-radius: 5px;
  border: 1px solid #202c45;
}

.contact .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.contact iframe {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}
.const {
  background: linear-gradient(to right, rgb(126, 173, 122), rgb(58, 116, 155));
  width: 100%;
  height: 100%;
}